@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
  font-family: "Playfair Display", serif;
  background-color: var(--cor-principal);
}


:root
{
  --cor-principal:#f51f9f;
 --cor-secundaria:#ed00ff;
 --cor-destaque:#ffffff;
}

h1,h2,h5
{
  color: var(--cor-secundaria);
  font-weight: 700;
}
footer, a:hover
{
 color: var(--cor-destaque);
}
